<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
</head>
<body>
    <nav>
        <a href="/about/">About</a>
    </nav>
    <h1>welcome to my website </h1>
    <h2>Hello my name is anik</h2>
    <p>This is my first flask website</p>
    <img src="{{url_for('static' , filename='cat.png')}}" style="width: 500px">
    <br>
    <br>
    <a href="https://google.com">
        Google page
    </a>
</body>
</html>