<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Weather Data API</title>
  </head>
  <body>
    <h1>Weather Data API</h1>
    <P>
      <h3>Please enter this url and enter your requirement</h3>
    </P>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/data</p>
    <p>for all station and dates http://127.0.0.1:5000/api/v1/10/2002-10-15</p>
    <p>for all station only http://127.0.0.1:5000/api/v1/10</p>
    <p>for yearly information http://127.0.0.1:5000/api/v1/yearly/10/2002</p>
    <p>{{information | safe}}</p>
  </body>
</html>
